html,
body {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Source Sans 3', sans-serif;
}
    * {
        margin: 0;
        padding: 0;
        block-size: border-box;
    }

    .container {
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg, hsl(339, 100%, 72%), #fcf5aa);
        padding: 10px;
    }

    .todo_app {
        width: 100%;
        max-width: 540px;
        background: #fff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 4px;
    }

    .todo_app h2 {
        color: hsl(339, 100%, 72%);
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .todo_app i {
        width: 50px;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #edeef0;
        border-radius: 30px;
        padding-left: 20px;
        margin-bottom: 25px;
    }

    input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;

        font-weight: 14px;
    }

    button {
        border: none;
        outline: none;
        padding: 16px 50px;
        background: #ffd078;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 20px;
    }

    ul li {
        list-style: none;
        font-size: 17px;
        padding: 14px 50px 14px;
        user-select: none;
        cursor: pointer;
        position: relative;
    }

    ul li::before {
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        background-image: url(/pngegg.png);
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 8px;
    }

    ul li.checked {
        color: #555;
        text-decoration: line-through;
    }

    ul li.checked::before {
        background-image: url(/pngegg\ \(1\).png);
    }

    ul li span {
        position: absolute;
        right: 0;
        top: 5px;
        width: 40px;
        height: 40px;
        font-size: 22px;
        color: #555;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }

    ul li span:hover {
        background: #edeef0;
    }